#navbar > ul{
    display:flex;
    background-color: #be3144;
    width:100%;
    top:0;
    left:0;
    padding:20px;
    position:fixed;
}
#navbar >ul > li 
{
	font-family: Arial;
	font-size: 24px;
	text-align: right;
}